@font-face {
    font-family: "Oslo Regular";
    src: url("~@/assets/fonts/OsloSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Oslo Medium";
    src: url("~@/assets/fonts/OsloSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Oslo Light";
    src: url("~@/assets/fonts/OsloSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Oslo Bold";
    src: url("~@/assets/fonts/OsloSans-Bold.woff") format("woff");
}